$font-main: 'Montserrat', sans-serif;
$color-white: #fff;
$color-blue: #0053ed;
$color-black: #000;
$color-black-custom: #1a1a1a;

html,
body {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: transparent;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.content {
  flex: 1 0 auto;
  position: relative;
}

.footer {
  flex: 0 0 auto;
}

body {
  font-family: $font-main;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
  color: $color-black;
}

.container {
  max-width: 1204px;
  padding: 0 30px;
  margin: 0 auto;

  @media (max-width: 767px) {
    padding: 0 15px;
  }
}

.container-full {
  padding: 32px 50px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .container-full {
    padding: 32px 15px 15px;
  }
}

@media (max-width: 1024px) {
  .history__title {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .container-full {
    padding: 0;
  }
}


// Анимации
.anim-scale-circle {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: -8px;
    z-index: -2;
    transform: translateY(-50%);
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-color: $color-blue;
    border-radius: 50%;
    opacity: 0.4;
    transition: all linear 1s;
  }

  &:hover {

    &::before {
      transform: translateY(-50%) scale(1.6);
    }
  }
}

.anim-scale-two-circle {
  position: relative;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 44px;
    height: 44px;
    background-color: $color-blue;
    border-radius: 50%;
    opacity: 0.6;
    transition: all linear 1s;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    background-color: $color-blue;
    border-radius: 50%;
    transition: all linear 1s;
  }

  &:hover {

    &::before,
    &::after {
      transform: translate(-50%, -50%) scale(2.6);
    }
  }
}

.anim-circle-scale {}

.statistics-circle {
  position: absolute;
  top: 50%;
  left: -50%;
  height: 100%;
  width: 100%;

  .circle__item {
    transform: unset;
    top: 0;
  }
}

.circle {
  position: relative;
  height: 100%;
  padding-left: 100%;

  &__item {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);

    &:nth-child(1) {
      svg {
        height: 94%;
        transform: rotate(270deg);
      }
    }

    &:nth-child(2) {
      svg {
        height: 80%;
        transform: rotate(135deg);
      }
    }

    &:nth-child(3) {
      svg {
        height: 66%;
      }
    }

    &:nth-child(4) {
      svg {
        height: 62%;
        transform: rotate(90deg);
      }
    }

    &:nth-child(5) {
      svg {
        height: 58%;
        transform: rotate(180deg);
      }
    }
  }
}

.anim-big-circle {
  &__wrapper {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-blue;
    }

    &::before {
      width: 100%;
      padding-bottom: 100%;
    }

    &::after {
      width: 90%;
      padding-bottom: 100%;
    }
  }
}

#e4lm87lsnu83 {
  animation-name: e4lm87lsnu83_s_o, e4lm87lsnu83_s_do;
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes e4lm87lsnu83_s_o {
  0% {
    stroke-opacity: 0
  }

  60% {
    stroke-opacity: 0;
    animation-timing-function: cubic-bezier(0.255000, 0, 0.120000, 1)
  }

  60.200000% {
    stroke-opacity: 1
  }

  100% {
    stroke-opacity: 1
  }
}

@keyframes e4lm87lsnu83_s_do {
  0% {
    stroke-dashoffset: 0
  }

  60.200000% {
    stroke-dashoffset: 0;
    animation-timing-function: cubic-bezier(0.255000, 0, 0.120000, 1)
  }

  90% {
    stroke-dashoffset: 2010.620000
  }

  100% {
    stroke-dashoffset: 2010.620000
  }
}

#e4lm87lsnu84 {
  animation-name: e4lm87lsnu84_s_o, e4lm87lsnu84_s_do, e4lm87lsnu84_s_da;
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes e4lm87lsnu84_s_o {
  0% {
    stroke-opacity: 1
  }

  60% {
    stroke-opacity: 1;
    animation-timing-function: cubic-bezier(0.255000, 0, 0.120000, 1)
  }

  60.200000% {
    stroke-opacity: 0
  }

  100% {
    stroke-opacity: 0
  }
}

@keyframes e4lm87lsnu84_s_do {
  0% {
    stroke-dashoffset: 2010.620000;
    animation-timing-function: cubic-bezier(0.255000, 0, 0.120000, 1)
  }

  30% {
    stroke-dashoffset: 0
  }

  100% {
    stroke-dashoffset: 0
  }
}

@keyframes e4lm87lsnu84_s_da {
  0% {
    stroke-dasharray: 2010.620000;
    animation-timing-function: cubic-bezier(0.255000, 0, 0.120000, 1)
  }

  30% {
    stroke-dasharray: 2010.620000
  }

  100% {
    stroke-dasharray: 2010.620000
  }
}

.js-toggle-dropdown {
  overflow: hidden;
  transition: height .5s;
  box-sizing: border-box;
}