@mixin font($font_name, $file_name, $weight, $style) {

  // Для подключения шрифтов
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
    url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

// Подключение
@import 'fonts';
@import 'global';

// Стили
.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
    // padding-bottom: 30px;
  }

  &__logo {
    height: 64px;
    margin-bottom: 30px;
  }

  &__wrapper {}
}

.logo {
  &__img {
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.menu {
  display: flex;
  gap: 20px;

  &__item {
    color: $color-white;
    text-transform: uppercase
  }

  &__link {
    display: inline-block;
    padding: 32px 0 62px;
    color: $color-white;
    cursor: pointer;

    @media (min-width: 1025px) {
      &:hover {
        .submenu {
          display: block;
        }
      }
    }
  }
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;

  &__list {
    display: grid;
    gap: 44px;
    row-gap: 64px;
    grid-template-columns: repeat(3, 175px);
    justify-content: space-between;
    max-width: 900px;
    margin-top: -54px;
    padding-bottom: 32px;
  }

  &__item {}

  &__link {
    display: flex;
    flex-direction: column;

    &:hover {
      .submenu__name {
        color: $color-blue;
      }
    }
  }

  &__img {
    align-self: center;
    object-fit: contain;
    object-position: center;
    height: 120px;
  }

  &__name {
    display: inline-block;
    margin-top: 16px;
    font-size: 16px;
    text-transform: unset;
    color: $color-black;
  }
}

@media (max-width: 1024px) {
  .menu__link.active {
    .submenu {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .submenu__list {
    grid-template-columns: repeat(2, 175px);
    justify-content: space-evenly;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .submenu__name {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 500px) {
  .submenu__list {
    grid-template-columns: 1fr;
    justify-content: center;
    row-gap: 16px;
    margin-top: unset;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .submenu__item {
    &+.submenu__item {
      margin-top: 16px;
    }
  }

  .submenu__link {
    flex-direction: row;
    gap: 16px;
  }

  .submenu__img {
    height: 60px;
    min-width: 80px;
    max-width: 80px;
  }

  .submenu__name {
    margin-top: 0;
    font-size: 14px;
    align-self: center;
  }
}

.shadow {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #000;
  }
}

.banner {
  height: 100vh;
  width: 100%;

  &--contacts {
    .banner__subtitle {
      text-transform: unset;
    }

    .banner__text {
      max-width: 365px;
      font-size: 14px;
    }

    .banner__link {
      font-size: 16px;
    }
  }

  &--product {
    .banner__page-name {
      max-width: 400px;
    }

    .banner__subtitle {
      max-width: 400px;
    }

    .banner__text {
      max-width: 400px;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__wrapper {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    max-width: 680px;
    margin: 0;
    padding-top: 124px;
    font-size: 60px;
    line-height: 70px;
    color: #f0f0f0;
    font-weight: 400;
  }

  &__subtitle {
    margin-top: 16px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 48px;
    line-height: 72px;
    color: #f0f0f0;
  }

  &__page-name {
    font-size: 12px;
    font-weight: 400;
    color: $color-white;
    text-transform: uppercase;
  }

  &__text {
    max-width: 770px;
    margin-top: 16px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }

  &__bottom {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 64px;
  }

  &__link {
    width: fit-content;
    padding: 10px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    color: $color-white;
    white-space: nowrap;

    span {
      display: block;
    }

    &+.banner__link {
      margin-left: 46px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 140px;
  }

  &__btn {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 0;

    &_next {
      &.anim-scale-circle {
        &::before {
          left: unset;
          right: -8px;
        }
      }
    }
  }

  &__circles {
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  &__circles-wrap {
    position: relative;
    width: 700px;
  }

  &__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.25;

    &:nth-child(1) {
      width: 700px;
      height: 700px;
    }

    &:nth-child(2) {
      width: 650px;
      height: 650px;

      svg {
        transform: rotate(90deg);
      }
    }

    &:nth-child(3) {
      width: 600px;
      height: 600px;

      svg {
        transform: rotate(180deg);
      }
    }

    &:nth-child(4) {
      width: 550px;
      height: 550px;

      svg {
        transform: rotate(270deg);
      }
    }
  }
}

.banner__next {
  position: absolute;
  bottom: 40px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 160px;
  text-align: center;
  color: #ffffff;
  line-height: 18px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;

  span {
    display: inline-block;
  }

  div {
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-blue;
      border-radius: 50%;
      opacity: 0.6;
      transition: all linear 1s;
    }

    &::before {
      z-index: -1;
      width: 153px;
      height: 153px;
    }

    &::after {
      z-index: -2;
      width: 179px;
      height: 179px;
    }
  }

  &:hover {
    div {

      &::before,
      &::after {
        transform: translate(-50%, -50%) scale(1.2);
      }
    }
  }
}

@media (max-width: 1440px) {
  .banner__title {
    padding-top: 50px;
    font-size: 36px;
    line-height: 46px;
  }

  .banner__subtitle {
    font-size: 36px;
    line-height: 46px;
  }

  .banner__bottom {
    margin-top: 40px;
  }

  .banner__circles-wrap {
    width: 500px;
  }

  .banner__circle {

    &:nth-child(1) {
      width: 500px;
      height: 500px;
    }

    &:nth-child(2) {
      width: 450px;
      height: 450px;
    }

    &:nth-child(3) {
      width: 400px;
      height: 400px;
    }

    &:nth-child(4) {
      width: 350px;
      height: 350px;
    }
  }
}

@media (max-width: 991px) {
  .banner__next {
    top: 160px;
    bottom: unset;
    right: 50%;
    transform: translateX(50%);
  }

  .banner__title,
  .banner__text {
    max-width: unset;
  }
}

@media (max-width: 768px) {
  .banner__circles {
    display: none;
  }

  .banner__wrapper {
    padding-top: 140px;
  }

  .header__box {
    flex-direction: column;
    padding-top: 16px;
  }

  .header__logo {
    height: 50px;
    margin-bottom: unset;
  }

  .menu__link {
    padding: 20px 0;
  }

  .banner__title {
    padding-top: 0px;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
  }

  .banner__subtitle {
    text-align: center;
    font-size: 22px;
    line-height: 30px;
  }

  .banner__page-name {
    text-align: center;
  }

  .banner__text {
    margin-top: 32px;
    font-size: 14px;
    text-align: center;

    span {
      display: block;
    }

    br {
      display: none;
    }
  }

  .banner--contacts .banner__text {
    margin: 0 auto;
  }

  .banner__link {
    padding: 33px 0;
  }

  .banner__link+.banner__link {
    margin: 32px 0 0;
  }

  .banner__bottom {
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .banner__nav {
    align-items: flex-start;
    margin: 24px 0 0;
  }

  .banner__next {
    position: static;
    transform: unset;
    order: 2;
    line-height: 16px;
    font-size: 12px;
    padding: 100px 0 60px;

    div::before {
      width: 90px;
      height: 90px;
    }

    div::after {
      width: 140px;
      height: 140px;
    }
  }

  .banner--product {
    align-items: center;
    height: auto;
    min-height: 100vh;

    .banner__wrapper {
      padding-top: 170px;
    }

    .banner__text,
    .banner__subtitle,
    .banner__page-name {
      max-width: unset;
    }

    .banner__circles {
      position: static;
      display: block;
      margin: 64px 0;
      transform: unset;
    }

    .banner__circles-wrap {
      width: 100%;
    }
  }
}

@media (max-width: 440px) {
  .header__wrapper {
    margin-top: 16px;
  }

  .menu__link {
    font-size: 14px;
  }

  .banner__title {
    font-size: 18px;
    line-height: 22px;
  }

  .banner__text {
    margin-top: 16px;
  }

  .banner__nav {
    margin-top: 16px;
  }

  .banner__next {
    padding: 30px 0 0px;

    div::before {
      width: 60px;
      height: 60px;
    }

    div::after {
      width: 80px;
      height: 80px;
    }
  }
}

.parallax {
  .banner__circles-wrap {
    padding-bottom: 100%;
  }
}

.parallax {
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__item {
    position: absolute;

    &:nth-of-type(1) {
      z-index: 2;
      top: 9%;
      left: 28%;
      width: 294px;
      height: 260px;

      .parallax__img {
        transform: rotate(140deg);
      }
    }

    &:nth-of-type(2) {
      top: 32%;
      left: 1%;
      width: 222px;
      height: 235px;

      .parallax__img {
        transform: rotate(35deg);
      }
    }

    &:nth-of-type(3) {
      top: 25%;
      left: 27%;
      width: 280px;
      height: 260px;

      .parallax__img {
        transform: rotate(-40deg);
      }
    }

    &:nth-of-type(4) {
      top: 27%;
      left: 45%;
      width: 305px;
      height: 329px;

      .parallax__img {
        transform: rotate(-86deg);
      }
    }

    &:nth-of-type(5) {
      z-index: 2;
      top: 34%;
      left: 61%;
      width: 260px;
      height: 293px;

      .parallax__img {
        transform: rotate(-64deg);
      }
    }

    &:nth-of-type(6) {
      top: 33%;
      left: 82%;
      width: 200px;
      height: 200px;

      .parallax__img {
        transform: rotate(-153deg);
      }
    }

    &:nth-of-type(7) {
      top: 56%;
      left: -5%;
      width: 270px;
      height: 270px;

      .parallax__img {
        transform: rotate(-33deg);
      }
    }

    &:nth-of-type(8) {
      top: 53%;
      left: 32%;
      width: 150px;
      height: 150px;

      .parallax__img {
        transform: rotate(15deg);
      }
    }

    &:nth-of-type(9) {
      top: 70%;
      left: 16%;
      width: 270px;
      height: 300px;

      .parallax__img {
        transform: rotate(-56deg);
      }
    }

    &:nth-of-type(10) {
      z-index: 3;
      top: 65%;
      left: 46%;
      width: 326px;
      height: 260px;

      .parallax__img {
        transform: rotate(-12deg);
      }
    }

    &:nth-of-type(11) {
      top: 76%;
      left: 78%;
      width: 130px;
      height: 130px;

      .parallax__img {
        transform: rotate(16deg);
      }
    }
  }

  &__img {
    display: flex;
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1500px) {
  .parallax__item {

    &:nth-of-type(1) {
      top: -2%;
      left: 34%;
      width: 160px;
      height: 150px;
    }

    &:nth-of-type(2) {
      top: 23%;
      left: 13%;
      width: 110px;
      height: 130px;
    }

    &:nth-of-type(3) {
      top: 13%;
      left: 35%;
      width: 140px;
      height: 127px;
    }

    &:nth-of-type(4) {
      top: 15%;
      left: 46%;
      width: 167px;
      height: 152px;
    }

    &:nth-of-type(5) {
      top: 28%;
      left: 59%;
      width: 143px;
      height: 126px;
    }

    &:nth-of-type(6) {
      top: 26%;
      left: 73%;
      width: 130px;
      height: 130px;
    }

    &:nth-of-type(7) {
      top: 45%;
      left: 8%;
      width: 150px;
      height: 120px;
    }

    &:nth-of-type(8) {
      top: 41%;
      left: 38%;
      width: 80px;
      height: 80px;
    }

    &:nth-of-type(9) {
      top: 59%;
      left: 22%;
      width: 126px;
      height: 113px;
    }

    &:nth-of-type(10) {
      top: 54%;
      left: 46%;
      width: 154px;
      height: 113px;
    }

    &:nth-of-type(11) {
      top: 56%;
      left: 67%;
      width: 80px;
      height: 80px;
    }
  }
}

@media (max-width: 768px) {
  .parallax__item {

    &:nth-of-type(1) {
      top: 13%;
      left: 34%;
    }

    &:nth-of-type(2) {
      top: 31%;
      left: 20%;
    }

    &:nth-of-type(3) {
      top: 26%;
      left: 35%;
    }

    &:nth-of-type(4) {
      top: 27%;
      left: 46%;
    }

    &:nth-of-type(5) {
      top: 32%;
      left: 56%;
    }

    &:nth-of-type(6) {
      top: 30%;
      left: 67%;
    }

    &:nth-of-type(7) {
      top: 45%;
      left: 16%;
    }

    &:nth-of-type(8) {
      top: 44%;
      left: 38%;
    }

    &:nth-of-type(9) {
      top: 54%;
      left: 26%;
    }

    &:nth-of-type(10) {
      top: 52%;
      left: 44%;
    }

    &:nth-of-type(11) {
      top: 55%;
      left: 62%;
    }
  }
}

@media (max-width: 500px) {
  .parallax__item {

    &:nth-of-type(1) {
      top: -7px;
      left: 30%;
      width: 100px;
      height: 74px;
    }

    &:nth-of-type(2) {
      top: 27%;
      left: 14%;
      width: 66px;
      height: 80px;
    }

    &:nth-of-type(3) {
      top: 13%;
      left: 32%;
      width: 94px;
      height: 80px;
    }

    &:nth-of-type(4) {
      top: 17%;
      left: 50%;
      width: 104px;
      height: 101px;
    }

    &:nth-of-type(5) {
      top: 25%;
      left: 64%;
      width: 82px;
      height: 85px;
    }

    &:nth-of-type(6) {
      top: 26%;
      left: 79%;
      width: 60px;
      height: 60px;
    }

    &:nth-of-type(7) {
      top: 46%;
      left: 7%;
      width: 112px;
      height: 86px;
    }

    &:nth-of-type(8) {
      top: 36%;
      left: 36%;
      width: 60px;
      height: 60px;
    }

    &:nth-of-type(9) {
      top: 57%;
      left: 26%;
      width: 90px;
      height: 88px;
    }

    &:nth-of-type(10) {
      top: 50%;
      left: 53%;
      width: 110px;
      height: 74px;
    }

    &:nth-of-type(11) {
      top: 50%;
      left: 75%;
      width: 60px;
      height: 60px;
    }
  }
}

// @media (max-width: 1500px) {
//   .parallax__item {

//     &:nth-of-type(1) {
//       .parallax__img {
//         transform: rotate(140deg) scale(0.7);
//       }
//     }

//     &:nth-of-type(2) {
//       .parallax__img {
//         transform: rotate(35deg) scale(0.7);
//       }
//     }

//     &:nth-of-type(3) {
//       .parallax__img {
//         transform: rotate(-40deg) scale(0.7);
//       }
//     }

//     &:nth-of-type(4) {
//       .parallax__img {
//         transform: rotate(-86deg) scale(0.7);
//       }
//     }

//     &:nth-of-type(5) {
//       .parallax__img {
//         transform: rotate(-64deg) scale(0.7);
//       }
//     }

//     &:nth-of-type(6) {
//       .parallax__img {
//         transform: rotate(-153deg) scale(0.7);
//       }
//     }

//     &:nth-of-type(7) {
//       .parallax__img {
//         transform: rotate(-33deg) scale(0.7);
//       }
//     }

//     &:nth-of-type(8) {
//       .parallax__img {
//         transform: rotate(15deg) scale(0.7);
//       }
//     }

//     &:nth-of-type(9) {
//       .parallax__img {
//         transform: rotate(-56deg) scale(0.7);
//       }
//     }

//     &:nth-of-type(10) {
//       .parallax__img {
//         transform: rotate(-12deg) scale(0.7);
//       }
//     }

//     &:nth-of-type(11) {
//       .parallax__img {
//         transform: rotate(16deg) scale(0.7);
//       }
//     }
//   }
// }

// @media (max-width: 1366px) {
//   .parallax__item {

//     &:nth-of-type(1) {
//       .parallax__img {
//         transform: rotate(140deg) scale(0.5);
//       }
//     }

//     &:nth-of-type(2) {
//       .parallax__img {
//         transform: rotate(35deg) scale(0.5);
//       }
//     }

//     &:nth-of-type(3) {
//       .parallax__img {
//         transform: rotate(-40deg) scale(0.5);
//       }
//     }

//     &:nth-of-type(4) {
//       .parallax__img {
//         transform: rotate(-86deg) scale(0.5);
//       }
//     }

//     &:nth-of-type(5) {
//       .parallax__img {
//         transform: rotate(-64deg) scale(0.5);
//       }
//     }

//     &:nth-of-type(6) {
//       .parallax__img {
//         transform: rotate(-153deg) scale(0.5);
//       }
//     }

//     &:nth-of-type(7) {

//       .parallax__img {
//         transform: rotate(-33deg) scale(0.5);
//       }
//     }

//     &:nth-of-type(8) {
//       .parallax__img {
//         transform: rotate(15deg) scale(0.5);
//       }
//     }

//     &:nth-of-type(9) {
//       top: 58%;

//       .parallax__img {
//         transform: rotate(-56deg) scale(0.5);
//       }
//     }

//     &:nth-of-type(10) {
//       top: 53%;
//       left: 34%;

//       .parallax__img {
//         transform: rotate(-12deg) scale(0.5);
//       }
//     }

//     &:nth-of-type(11) {
//       top: 72%;
//       left: 72%;

//       .parallax__img {
//         transform: rotate(16deg) scale(0.5);
//       }
//     }
//   }
// }

// @media (max-width: 1024px) {
//   .parallax__item {

//     &:nth-of-type(1) {
//       top: 0%;
//       left: 13%;

//       .parallax__img {
//         transform: rotate(140deg) scale(0.4);
//       }
//     }

//     &:nth-of-type(2) {
//       top: 20%;
//       left: -5%;

//       .parallax__img {
//         transform: rotate(35deg) scale(0.4);
//       }
//     }

//     &:nth-of-type(3) {
//       top: 14%;
//       left: 10%;

//       .parallax__img {
//         transform: rotate(-40deg) scale(0.4);
//       }
//     }

//     &:nth-of-type(4) {
//       top: 8%;
//       left: 22%;

//       .parallax__img {
//         transform: rotate(-86deg) scale(0.4);
//       }
//     }

//     &:nth-of-type(5) {
//       top: 22%;
//       left: 30%;

//       .parallax__img {
//         transform: rotate(-64deg) scale(0.4);
//       }
//     }

//     &:nth-of-type(6) {
//       top: 33%;
//       left: 52%;

//       .parallax__img {
//         transform: rotate(-153deg) scale(0.4);
//       }
//     }

//     &:nth-of-type(7) {
//       top: 33%;
//       left: -3%;

//       .parallax__img {
//         transform: rotate(-33deg) scale(0.4);
//       }
//     }

//     &:nth-of-type(8) {
//       top: 44%;
//       left: 27%;

//       .parallax__img {
//         transform: rotate(15deg) scale(0.4);
//       }
//     }

//     &:nth-of-type(9) {
//       top: 40%;
//       left: 20%;

//       .parallax__img {
//         transform: rotate(-56deg) scale(0.4);
//       }
//     }

//     &:nth-of-type(10) {
//       top: 43%;
//       left: 34%;

//       .parallax__img {
//         transform: rotate(-12deg) scale(0.4);
//       }
//     }

//     &:nth-of-type(11) {
//       top: 50%;
//       left: 68%;

//       .parallax__img {
//         transform: rotate(16deg) scale(0.4);
//       }
//     }
//   }
// }

// @media (max-width: 768px) {

//   .parallax__item:nth-of-type(5),
//   .parallax__item:nth-of-type(9),
//   .parallax__item:nth-of-type(11) {
//     display: none;
//   }

//   .parallax__item:nth-of-type(3) {
//     left: 34%;
//   }

//   .parallax__item:nth-of-type(6) {
//     top: 47%;
//     left: 68%;
//   }

//   .parallax__item:nth-of-type(2) {
//     top: 32%;
//     left: 12%;
//   }

//   .parallax__item:nth-of-type(7) {
//     top: 56%;
//     left: 30%;
//   }
// }

// @media (max-width: 560px) {

//   .parallax__item:nth-of-type(6),
//   .parallax__item:nth-of-type(3),
//   .parallax__item:nth-of-type(8),
//   .parallax__item:nth-of-type(10) {
//     display: none;
//   }

//   .parallax__item:nth-of-type(9) {
//     display: block;
//     top: 0%;
//     left: 0%;
//   }

//   .parallax__item:nth-of-type(7) {
//     top: 56%;
//     left: 0%;
//   }

//   .parallax__item:nth-of-type(1) {
//     z-index: 2;
//     top: -4%;
//     left: 38%;
//   }
// }

.info {
  display: flex;
  position: relative;
  z-index: 3;
  padding-bottom: 34%;
  margin-top: 20px;
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: all linear 1s;
    opacity: 0;
  }

  &.hover {
    &::before {
      opacity: 0.7;
    }
  }

  &.anim-info-bg {
    background-size: 100%;
  }

  &__content {
    width: 100%;
  }

  &__title {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: fit-content;
    margin-left: auto;
    padding-top: 17%;
  }

  &__title-line {
    display: block;
    width: fit-content;
    padding: 4px 8px;
    font-weight: 300;
    font-size: 32px;
    line-height: 1;
    background-color: #f0f0f0;
    text-transform: uppercase;

    span {
      display: block;
    }
  }

  &__item {
    position: absolute;

    .info__plus {
      position: relative;
      z-index: -1;
      background-color: $color-blue;
      border-radius: 50%;
      transition: all linear 0.2s;
    }

    &:hover {
      .info__wrapper {
        display: block;
      }
    }

    &_1 {
      top: 44%;
      left: 31%;
    }

    &_2 {
      top: 42%;
      left: 43%;
    }

    &_3 {
      top: 50%;
      left: 50%;
    }

    &_4 {
      top: 43%;
      left: 58%;
    }

    &_5 {
      top: 52%;
      left: 63%;
    }
  }

  &__circle {
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    width: 94px;
    height: 94px;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 50px;
  }

  &__wrapper {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    background-color: $color-white;
    border-radius: 8px;
    padding: 15px;
  }

  &__box {
    padding: 15px;
    background-color: #F0F0F0;
    border-radius: 8px;
  }

  &__img {
    max-width: 200px;
    height: 120px;
  }

  &__subtitle {
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  &__text {
    margin-top: 4px;
    font-size: 10px;
  }

  &__link {
    display: inline-block;
    margin-top: 16px;
    padding: 8px 16px;
    font-weight: 700;
    font-size: 12px;
    color: $color-blue;
    border: 1px solid $color-blue;
    text-transform: uppercase;
    border-radius: 16px;
    transition: all linear 0.2s;

    &:hover {
      color: $color-white;
      background-color: $color-blue;
    }
  }
}

@media (max-width: 1560px) {
  .info__title {
    padding-top: 6%;
  }

  .info__item {
    .info__plus {
      width: 28px;
      height: 28px;
    }
  }

  .info__container {
    height: 38px;
  }

  .info__wrapper {
    width: 400px;
    padding: 8px;
  }

  .info__box {
    padding: 8px;
  }

  .info__img {
    height: 100px;
  }

  .info__subtitle {
    margin-top: 8px;
    font-size: 12px;
    line-height: 14px;
  }

  .info__link {
    margin-top: 8px;
    padding: 6px 12px;
    font-size: 8px;
    line-height: 1.3;
  }

  .info__circle {
    top: -24px;
  }
}

@media (max-width: 1300px) {
  .info__circle {
    top: 4px;
    width: 40px;
    height: 40px;
  }

  .info__wrapper {
    top: 0;
    bottom: unset;
    transform: translate(-50%, -50%);
    width: 240px;
  }
}

@media (max-width: 1024px) {
  .info__title-line {
    font-size: 18px;
  }

  .info {
    min-height: 500px;
    background-size: cover !important;
  }
}

@media (max-width: 768px) {
  .info__circle {
    display: none;
  }

  .info__item {
    &_1 {
      top: 43%;
      left: 26%;
    }

    &_2 {
      top: 43%;
      left: 40%;
    }

    &_3 {
      top: 50%;
      left: 50%;
    }

    &_4 {
      top: 42%;
      left: 60%;
    }

    &_5 {
      top: 50%;
      left: 66%;
    }
  }
}

@media (max-width: 500px) {
  .info__img {
    height: 80px;
  }

  .info__item {
    &_1 {
      top: 42%;
      left: 8%;

      .info__wrapper {
        left: 0;
        transform: translate(0, -50%);
      }
    }

    &_2 {
      top: 42%;
      left: 36%;
    }

    &_3 {
      top: 50%;
      left: 48%;
    }

    &_4 {
      top: 40%;
      left: 68%;

      .info__wrapper {
        left: unset;
        right: 0;
        transform: translate(0, -50%);
      }
    }

    &_5 {
      top: 50%;
      left: 80%;

      .info__wrapper {
        left: unset;
        right: 0;
        transform: translate(0, -50%);
      }
    }
  }
}

.history {
  &__wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    max-width: 520px;
    margin-left: auto;
    margin-right: 64px;
    color: #000000;
  }

  &__title {
    font-size: 24px;
    line-height: 41px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 2px;
  }

  &__line {}

  &__text {
    margin: 24px 0 0;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
  }
}

@media (max-width: 1440px) {
  .history__title {
    font-size: 20px;
    line-height: 26px;
  }

  .history__text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 1024px) {
  .history__wrapper {
    flex-direction: column;
    height: auto;
  }

  .history__box {
    width: 100%;
  }

  .history__content {
    max-width: unset;
  }

  .history__img {
    margin-top: 32px;
    height: 500px;
  }

  .history__content {
    margin: 0;
  }

  .history__title {
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .history__box {
    padding: 15px;
  }
}

@media (max-width: 420px) {
  .history__title {
    font-weight: 500;
  }

  .history__text {
    margin-top: 16px;
    font-size: 14px;
    line-height: 18px;
  }
}

.centered {
  position: relative;

  &__container {
    height: 100vh;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-black;
      opacity: 0.7;
    }
  }

  &__box {
    position: relative;
    z-index: 2;
    width: 50%;
    max-width: 560px;
    padding: 16px;
    font-size: 16px;
    line-height: 24px;
    color: $color-white;
  }

  &__item {
    display: flex;
    gap: 16px;

    &+.centered__item {
      margin-top: 32px;
    }
  }

  &__icon {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-width: 84px;
    max-width: 84px;

    img {
      max-width: 100%;
    }
  }

  &__name {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    color: $color-white;
    transition: all linear 0.2s;

    &:hover {
      color: #0053ed;
    }
  }

  &__description {
    margin-top: 8px;
  }

  &__text {
    padding-left: 128px;

    &+.centered__text {
      margin-top: 32px;
    }

    &:last-child {
      margin-bottom: 120px;
    }
  }
}

.centered_two {
  .centered__text {
    margin: 0;
    padding-left: 0;
  }

  .centered__block {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    max-width: 1180px;
  }

  .centered__title {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    text-transform: uppercase;
  }

  .centered__wrap {
    color: #F0F0F0;
  }

  .centered__wrap_white {
    max-width: 361px;
    margin-left: 16px;
    padding: 28px;
    background-color: $color-white;
    border-radius: 4px;

    .centered__text {
      margin: 0;
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
    }
  }

  .centered__subtitle {
    font-weight: 500;

    &+.centered__text {
      position: relative;
      padding-top: 50px;

      &::before {
        content: '';
        position: absolute;
        top: 26px;
        left: 0;
        height: 2px;
        width: 16px;
        background-color: #0053ed;
      }
    }
  }

  .centered__text {
    margin-top: 22px;
    font-weight: 300;
  }
}

.anim-centered-blur-bg,
.anim-blur-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black;
    opacity: 0.8;
  }
}

.anim-centered-blur-bg-wrap,
.anim-blur-bg-wrap {
  &::after {
    display: none;
  }

  overflow:hidden;
}

@media (max-width: 1440px) {
  .centered__box {
    font-size: 14px;
    line-height: 18px;
  }

  .centered__item {
    &+.centered__item {
      margin-top: 24px;
    }
  }

  .centered__name {
    font-size: 16px;
  }

  .centered__icon {
    min-width: 40px;
    max-width: 40px;
  }

  .centered__text {
    padding-left: 64px;
  }

  .centered__block {
    padding: 30px;
  }

  .centered_two .centered__title {
    font-size: 18px;
    line-height: 24px;
  }

  .centered_two .centered__text {
    font-size: 14px;
  }

  .centered_two .centered__wrap_white {
    padding: 16px;
  }

  .centered_two .centered__subtitle {
    line-height: 18px;
  }

  .centered_two .centered__subtitle+.centered__text {
    padding-top: 40px;
  }
}

@media (max-width: 1024px) {
  .centered__container {
    height: unset;
  }

  .centered__wrapper {
    flex-direction: column;
    align-items: unset;
    justify-content: center;
    padding: 32px 0;
  }

  .centered__box {
    width: 100%;
    max-width: unset;
    padding: 32px;
  }

  .centered__text {
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .centered__block {
    flex-direction: column;
  }

  .centered_two .centered__wrap_white {
    margin: 48px 0 0;
    max-width: unset;
  }
}

@media (max-width: 768px) {

  .centered__item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;

    &+.centered__item {
      margin-top: 32px;
    }
  }

  .centered__icon {
    min-width: 70px;
    max-width: 70px;
  }

  .centered__text+.centered__text {
    margin-top: 16px;
  }

  .centered_two .centered__title {
    font-size: 16px;
    line-height: 20px;
  }

  .centered__block {
    padding: 15px;
  }
}

@media (max-width: 420px) {
  .centered__box {
    padding: 24px 16px;
  }

  .centered__text {
    font-size: 12px;
  }

  .centered__description {
    font-size: 12px;
  }

  .centered__name {
    font-size: 14px;
  }
}

.statistics {

  &__item {
    display: flex;
    height: 650px;

    &:nth-of-type(even) {
      .statistics-circle {
        top: unset;
        bottom: 50%;
        left: unset;
        right: -50%;
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    &_text {
      padding: 60px;
      height: 100%;
      width: 50%;
    }

    &_left {
      align-items: flex-end;
      text-align: right;
    }

    &_img {
      position: relative;
      overflow: hidden;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 100px;
    line-height: 130px;
    color: $color-black-custom;
  }

  &__description {
    margin-top: 16px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: $color-black;
  }

  &__img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    // background-size: 160%;
    background-size: cover;

    &+.anim-statistics-img-right {
      margin-left: auto;
      width: calc(100% + 20%);
      margin-right: 16%;
    }
  }
}

@media (max-width: 1440px) {
  .statistics__item {
    height: 350px;
  }

  .statistics__box_text {
    padding: 32px;
  }

  .statistics__title {
    font-size: 40px;
    line-height: 48px;
  }

  .statistics__description {
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 991px) {
  .statistics__box_text {
    padding: 16px;
  }

  .statistics__img {
    background-size: cover;
  }
}

@media (min-width: 761px) {
  .anim-statistics-item {
    position: relative;

    &:nth-of-type(odd) {
      .statistics__box_text {
        left: 0;
      }

      .statistics__box_img {
        margin-left: auto;
        width: 70%;
      }
    }

    &:nth-of-type(even) {
      .statistics__box_text {
        right: 0;
      }

      .statistics__box_img {
        width: 30%;
      }
    }

    .statistics__box_text {
      position: absolute;
      top: 0;
    }
  }
}

@media (max-width: 768px) {

  .statistics-circle {
    display: none;
  }

  .statistics__item {
    flex-direction: column;
  }

  .statistics__box {
    width: 100%;
  }

  .statistics__box_img {
    order: 2;
  }
}

@media (max-width: 420px) {
  .statistics__description {
    font-size: 12px;
    line-height: 16px;
  }
}

.companions {
  padding-top: 32px;
  padding-bottom: 32px;
  // overflow: hidden;

  &__title {
    display: flex;
    flex-direction: column;
    width: fit-content;
    color: #1a1a1a;
    font-size: 32px;
    font-weight: 300;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 64px;

    span {
      width: fit-content;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 39px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 158px;
    height: 158px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width: 991px) {
  .companions__title {
    font-size: 24px;
    line-height: 36px;
  }

  .companions__wrapper {
    gap: 20px;
  }

  .companions__item {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 580px) {
  .companions__title {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 26px;
  }

  .companions__item {
    width: 70px;
    height: 70px;
  }
}

.footer {
  overflow: hidden;

  &-top {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.7);
    }

    &__wrapper {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      gap: 16px;
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  &__menu {
    width: 360px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {}

  &__link {
    color: #a3a3a3;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 500;
    text-transform: uppercase;
    transition: all linear 0.2s;

    &:hover {
      color: $color-white;
    }
  }

  &__middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__logo {
    display: flex;
    width: 200px;
  }

  &__img {
    width: 100%;
  }

  &__copy {
    margin-top: 42px;
    color: #ffffff;
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    width: 360px;
  }

  &__title {
    color: #ffffff;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
  }

  &__contacts-item {
    margin-top: 6px;
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
  }

  &__text {
    margin-top: 24px;
    color: #f0f0f0;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .footer-top__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer__menu,
  .footer__contacts {
    width: 260px;
  }

  .footer__contacts-item {
    font-size: 18px;
    line-height: 20px;
  }

  .footer__text {
    margin-top: 16px;
    font-size: 10px;
    line-height: 16px;
  }

  .footer__list {
    gap: 10px;
  }

  .footer__link {
    font-size: 14px;
  }

  .footer__logo {
    width: 160px;
  }

  .footer__copy {
    margin-top: 16px;
  }
}

@media (max-width: 768px) {
  .footer-top__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer__contacts {
    align-items: center;
    text-align: center;
  }

  .footer__list {
    flex-direction: row;
  }

  .footer__menu {
    order: 2;
  }

  .footer__middle {
    order: 3;
  }
}

.vacancy {
  padding-top: 60px;
  padding-bottom: 60px;

  &__item {
    border-bottom: 1px solid #eee;

    &:first-child {
      border-top: 1px solid #eee;
    }

    &.active {
      .vacancy__icon {
        transform: rotate(45deg);
      }
    }
  }

  &__title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 27px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.35;
    cursor: pointer;

    &:hover {
      .vacancy__icon {
        background-color: $color-blue;

        path {
          stroke: #eee;
        }
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    padding: 8px;
    border-radius: 50%;
    transition: all linear 0.2s;

    path {
      stroke: $color-black-custom;
    }
  }

  &__dropdown {}

  &__box {
    display: flex;
    padding: 16px 0;
    border-bottom: 1px solid #eee;

    .vacancy__list {
      margin: 0 !important;
    }

    .vacancy__line {
      font-size: 12px;
      margin-top: 0;
    }
  }

  &__left {
    flex-shrink: 0;
    width: 140px;
    padding-right: 16px;
    font-weight: 500;
    font-size: 12px;
  }

  &__right {
    max-width: 520px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 16px;
  }

  &__list {
    list-style: disc;
    padding-left: 24px;

    &:last-child {
      margin-bottom: 27px;
    }

    &+.vacancy__subtitle {
      margin-top: 32px;
    }
  }

  &__line {
    list-style: disc;
    margin-top: 16px;
  }

  &__salary {
    margin-top: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
  }

  &__btn {
    margin-top: 42px;
    margin-bottom: 42px;
    font-size: 12px;
    cursor: pointer;

    &::before,
    &::after {
      transition: all linear 0.4s;
    }

    &:hover {

      &::before,
      &::after {
        transform: translate(-50%, -50%) scale(1.2);
      }
    }
  }
}

@media (max-width: 991px) {
  .vacancy {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .vacancy__title {
    padding: 16px 0;
    font-size: 18px;
  }

  .vacancy__icon {
    padding: 6px;

    svg {
      width: 14px;
      height: 14px;
    }
  }
}

@media (max-width: 768px) {
  .vacancy {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media (max-width: 480px) {
  .vacancy__title {
    font-size: 16px;
  }

  .vacancy__box {
    flex-direction: column;
    padding-top: 0;
  }

  .vacancy__left {
    padding: 0 0 8px;
  }

  .vacancy__list+.vacancy__subtitle {
    margin-top: 16px;
  }

  .vacancy__line {
    margin-top: 8px;
    font-size: 12px;
  }
}

.contacts {
  padding-top: 32px;
  padding-bottom: 32px;

  &__item {
    display: grid;
    grid-template-columns: 1fr 270px 316px;
    justify-content: space-between;
    gap: 64px;
    padding: 36px 16px;
    line-height: 24px;
    font-size: 16px;
    border-radius: 8px;
    color: $color-black-custom;

    &:nth-child(odd) {
      background-color: rgba($color: #f0f0f0, $alpha: .5);
    }
  }

  &__position {
    font-size: 24px;
    line-height: 31px;
    text-transform: uppercase;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    font-weight: 700;
  }

  &__link {
    color: $color-black-custom;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1100px) {
  .contacts__item {
    gap: 32px;
  }
}

@media (max-width: 991px) {
  .contacts__item {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .contacts__position {
    width: 100%;
  }

  .contacts__box {
    width: calc(50% - 16px);
  }
}

@media (max-width: 768px) {
  .contacts {
    padding-top: 18px !important;
    padding-bottom: 18px !important;
  }

  .contacts__item {
    gap: 12px;
    padding: 16px;
  }

  .contacts__position {
    font-size: 18px;
    line-height: 24px;
  }

  .contacts__box {
    width: 100%;
  }
}

.map {
  position: relative;
  overflow: hidden;

  &__bg {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      background-color: #000000;
    }
  }

  &__container {
    display: flex;
    gap: 32px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  &__left {
    position: relative;
    width: calc(100% - 532px);
  }

  &__title {
    max-width: 365px;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 75px;
    color: #ffffff;
  }

  &__right {
    position: relative;
    z-index: 2;
    width: 500px;
  }

  &__label {}

  &__subtitle {
    padding: 14px 0 9px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }

  &__input {
    display: block;
    width: 100%;
    height: 60px;
    padding: 16px;
    border-radius: 8px;
    border: none;

    &::placeholder {
      color: #D7D7D7;
      font-weight: 300;
    }
  }

  &__textarea {
    height: 110px;
    resize: none;
  }

  &__btn {
    margin-top: 32px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;

    &:hover {

      &::before,
      &::after {
        transform: translate(-50%, -50%) scale(1.4);
      }
    }
  }
}

.marker {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__wrapper {
    position: relative;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79px;
    height: 79px;
    border-radius: 50%;
    background-color: $color-blue;
    cursor: pointer;
  }

  &__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    svg {
      opacity: 0.25;
    }

    &:nth-child(1) {
      svg {
        width: 396px;
        height: 396px;
        transform: rotate(270deg);
      }
    }

    &:nth-child(2) {
      svg {
        width: 432px;
        height: 432px;
        transform: rotate(180deg);
      }
    }

    &:nth-child(3) {
      svg {
        width: 478px;
        height: 468px;
        transform: rotate(90deg);
      }
    }
  }

  &__box {
    position: relative;
    padding-bottom: 15px;

    &:hover {
      .marker__text {
        display: block;
      }
    }
  }

  &__text {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    padding: 15px;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 16px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
    background-color: $color-white;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .map__container {
    flex-direction: column;
    gap: 10px;
  }

  .map__left {
    height: 330px;
    width: 100%;
  }

  .map__title {
    max-width: unset;
    text-align: center;
    margin-top: 20px;
  }

  .marker {
    left: 50%;
    top: 60%;
  }

  .map__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .map__label {
    width: 100%;
  }

  .map__btn {
    margin: 60px auto;
  }
}

@media (max-width: 768px) {
  .map__title {
    margin-top: 32px;
    font-size: 32px;
    line-height: 40px;
  }
}

@media (max-width: 480px) {
  .map__title {
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
  }
}

.detail-slider {
  min-width: 100%;

  .swiper-wrapper {
    width: 100%;
  }
}

.detail-slider__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-slider__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.characteristic {
  padding-top: 105px;
  padding-bottom: 105px;

  &__wrapper {
    position: relative;
    padding: 60px 324px 60px 60px;
    border-radius: 16px;
    background-color: #f5f5f5;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
  }

  &__subtitle {
    margin-top: 16px;
    font-weight: 500;
    opacity: 0.7;

    span {
      font-size: 12px;
    }
  }

  &__text {
    opacity: 0.7;
  }

  &__back {
    margin-top: 24px;
  }

  &__request {
    position: absolute;
    bottom: 32px;
    right: 32px;
    display: block;
    width: 180px;
    height: 180px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.arrow {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 14px;
  color: $color-black-custom;
  font-weight: 500;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $color-blue;
    transition: all linear 0.4s;
  }

  svg {
    position: relative;
    z-index: 1;
    height: 22px;
    margin: 0 8px;
  }

  &--right {
    &::before {
      left: unset;
      right: 0;
    }
  }

  &:hover {
    &::before {
      transform: translateY(-50%) scale(1.4);
    }
  }
}

@media (max-width: 991px) {
  .characteristic__wrapper {
    padding: 32px 210px 32px 32px;
  }

  .characteristic__request {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 768px) {
  .characteristic {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (max-width: 660px) {
  .characteristic__wrapper {
    padding: 16px;
  }

  .characteristic__request {
    position: static;
    bottom: unset;
    right: unset;
    margin: 24px auto 10px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 114px 15px;
  overflow-y: auto;
}

.modal.active {
  display: block;
}

.modal__bg {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 12, 12, 0.5);
}

.modal__container {
  position: relative;
  z-index: 3;
  max-width: 711px;
  height: auto;
  margin: 0 auto;
  color: #000;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
}

.modal {
  &__close {
    position: absolute;
    z-index: 2;
    top: 32px;
    right: 32px;
    display: flex;
    width: fit-content;
    padding: 10px;
    cursor: pointer;

    svg path {
      fill: #fff;
    }
  }

  &__content {
    padding: 48px;
  }

  &__title {
    max-width: 506px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    &+.modal__title {
      margin-top: 20px;
    }
  }

  &__description {
    width: fit-content;
    margin: 16px auto 0;
    font-size: 16px;
    line-height: 20px;
  }

  &__form {
    margin-top: 30px;

    .label {
      display: block;
      margin-top: 20px;
    }

    .label__title {}

    .input {}
  }

  &__submit {
    width: 100%;
    margin-top: 30px;
    padding: 18px 32px;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 16px;
    transition: all linear 0.2s;
    cursor: pointer;

    &:hover {
      color: #000000;
      background-color: #ffffff;
    }
  }

  &__top {
    position: relative;
    min-height: 287px;
    padding: 46px 24px;
    background-color: #000;
    overflow: hidden;
  }

  &__logo {
    position: relative;
    z-index: 2;
    height: 24px;
    object-fit: contain;
    object-position: center;
  }

  &__name {
    position: relative;
    z-index: 2;
    max-width: 200px;
    margin-top: 24px;
    font-size: 26px;
    line-height: 34px;
    color: #c0bdbd;
    text-transform: uppercase;
  }

  &__img {
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translateY(-50%);
    width: 60%;
    height: 170%;
    object-fit: contain;
    object-position: center;
  }

  &__subtext {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.55;
    font-weight: 300;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 20px;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  &__text {
    margin-right: 18px;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    text-align: center;

    @media (max-width: 600px) {
      margin-right: unset;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    padding: 4px;
    border-radius: 50%;
    border: none;
    background-color: #F5F5F5;
    cursor: pointer;

    svg {
      fill: $color-blue;
    }

    &.active,
    &:hover {
      background-color: $color-blue;

      svg {
        fill: $color-blue;

        path {
          fill: $color-white;
        }
      }
    }

    &--wa {
      svg {
        margin: 0 0 1px 1px;
      }

      &.active,
      &:hover {
        svg {
          path:nth-child(2) {
            fill: $color-blue;
          }
        }
      }
    }

    &--tg {
      svg {
        margin-right: 4px;
      }
    }
  }
}

.pin {
  display: flex;
  align-items: flex-start;
  margin-top: 24px;
}

.pin__label {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.pin__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.pin__icon {
  height: 20px;
  width: 17px;
  padding: 9px 16px 8px 0;
  box-sizing: content-box !important;
}

.pin__attach {
  padding: 7px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  vertical-align: middle;
}

.pin__file-list {
  display: flex;
  flex-direction: column;
}

.pin__file {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0 8px;
  padding-top: 5px;
}

.pin__file-remove-button {
  padding-top: 3px;
  margin-left: 8px;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.agreement {
  display: flex;
  margin-top: 24px;

  &__checkbox {
    width: 0;
    height: 0;
    padding: 0;
    opacity: 0;

    &:checked+.agreement__label {
      background-color: $color-blue;
      border: 1px solid $color-blue;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
    margin-top: 4px;
    border-radius: 2px;
    border: 1px solid #2C2C2C;
    cursor: pointer;
  }

  &__text {
    max-width: 422px;
    margin-left: 30px;
    font-size: 16px;
    line-height: 130%;
    color: #2C2C2C;

    a {
      color: #2C2C2C;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 991px) {
  .modal__content {
    padding: 24px;
  }

  .modal__title {
    font-size: 18px;
    line-height: 22px;
  }

  .modal__title+.modal__title {
    margin-top: 16px;
  }

  .modal__description {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 768px) {
  .modal__close {
    right: 16px;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  .modal__content {
    padding: 16px;
  }

  .pin {
    margin-top: 16px;
  }

  .pin__attach {
    font-size: 14px;
  }

  .agreement {
    margin-top: 16px;
  }

  .agreement__text {
    margin-left: 16px;
    font-size: 14px;
    line-height: 16px;
  }

  .modal__submit {
    font-size: 16px;
    line-height: 20px;
    border-radius: 8px;
  }
}

@media (max-width: 600px) {
  .modal__top {
    min-height: 210px;
    padding: 26px 16px;
  }

  .modal__name {
    max-width: 160px;
    font-size: 18px;
    line-height: 24px;
  }
}

.slider {
  padding-top: 16px;
  padding-bottom: 32px;

  .swiper-wrapper {
    padding-top: 50px;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 32px;

    h3 {
      font-size: 24px;
      line-height: 41px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

.slider-pagination {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 20px;
  margin-left: auto;

  .slider-pagination__page {
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;

    span {
      display: inline-block;
      width: 24px;
    }
  }

  .swiper-pagination-current {
    margin-right: 16px;
    color: $color-blue;
  }

  .swiper-pagination-total {
    margin-left: 16px;
  }
}

@media (max-width: 768px) {
  .slider {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .js-adaptive-arrows {
    margin: 18px auto 0;
  }

  .slider .swiper-wrapper {
    padding-top: 32px;
  }

  .slider__top h3 {
    font-size: 18px;
    line-height: 24px;
  }

  .slider-pagination .slider-pagination__page {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
  }
}

.card {

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      .card__img {
        transform: scale(1.2);
      }
    }
  }

  &__img {
    width: 100%;
    height: 310px;
    object-fit: contain;
    object-position: center;
    transition: all linear 0.4s;
  }

  &__bottom {
    padding: 50px 0 16px;
  }

  &__title {
    line-height: 27px;
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    text-transform: uppercase;
    transition: all linear 0.2s;

    &:hover {
      color: $color-blue;
    }
  }
}

@media (max-width: 768px) {
  .card__img {
    width: 80%;
  }

  .card__bottom {
    padding: 32px 0 16px;
  }

  .card__title {
    line-height: 20px;
    font-size: 14px;
  }
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  padding-bottom: 64px;

  &__left {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 41px;
    font-weight: 300;
  }

  &__right {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
  }
}

.catalog {
  padding-top: 64px;
  padding-bottom: 32px;

  &__item {
    display: flex;
    gap: 32px;
    height: 575px;

    &+.catalog__item {
      margin-top: 32px;
    }

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    padding: 100px 0 46px;
  }

  &__title {
    max-width: 360px;
    font-size: 45px;
    line-height: 59px;
    font-weight: 300;
  }

  &__text {
    max-width: 360px;
    margin-top: 32px;
    font-weight: 300;
  }

  &__btn {
    width: fit-content;
    margin-top: auto;
    color: #1a1a1a;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;

    &:hover {

      &::before,
      &::after {
        transform: translate(-50%, -50%) scale(1.6);
      }
    }
  }

  &__slider {
    width: 60%;
    padding: 32px 0;

    &-bg {
      position: absolute;
      top: 32px;
      left: 0;
      width: 100%;
      height: calc(100% - 64px);
      border-radius: 8px;
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__img {
    width: 100%;
    height: calc(100% + 64px);
    object-fit: contain;
    object-position: center;
  }
}

@media (max-width: 991px) {
  .description {
    grid-template-columns: 1fr;
    gap: 32px;
    padding-bottom: 16px;
  }

  .catalog__title {
    font-size: 24px;
    line-height: 32px;
  }

  .catalog__item {
    height: 420px;
  }

  .catalog__box {
    width: 60%;
  }

  .catalog__slider {
    width: 40%;
  }

  .catalog__text {
    max-width: unset;
  }
}

@media (max-width: 768px) {
  .catalog {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .catalog__item:nth-child(odd),
  .catalog__item {
    flex-direction: column-reverse;
  }

  .catalog__item {
    gap: 16px;
    height: unset;
  }

  .catalog__box {
    width: 100%;
  }

  .catalog__slider {
    width: 100%;
  }

  .catalog__box {
    padding: 0;
  }

  .catalog__btn {
    margin: 32px auto 0;
  }

  .catalog__text {
    margin-top: 16px;
  }

  .description {
    gap: 16px;
  }

  .description__left {
    font-size: 18px;
    line-height: 24px;
  }

  .description__right {
    font-size: 16px;
    line-height: 22px;
  }

  .catalog__title {
    font-size: 18px;
    line-height: 24px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 32px;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__item {
    line-height: 27px;
    font-size: 18px;
    color: #000000;

    &:first-child {
      color: $color-blue;
    }
  }
}

@media (max-width: 768px) {
  .pagination {
    margin-top: 44px;
  }

  .pagination__wrapper {
    gap: 20px;
  }
}